<div class="page-footer">
	<div class="page-footer-inner">
		<!-- <?= date("Y") ?> &copy; FoodSubs. All Rights Reserved. -->
		<?=date('Y');?> Big Data Analytics Demo Solution by <a href="http://www.cybernek.com" target="_blank">Cybernek Solutions</a>
	</div>
	<div class="scroll-to-top">
		<i class="icon-arrow-up"></i>
	</div>
</div>
