<?php
$this->assign('title', "Error");
$this->layout = false;
?>
<!DOCTYPE html>
<html lang="en">
	<!--<![endif]-->
	<!-- BEGIN HEAD -->
	<head>
		<meta charset="utf-8"/>
		<!--<title>Metronic | Extra - 404 Page Option 3</title>-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta content="" name="description"/>
		<meta content="" name="author"/>
		<!-- BEGIN GLOBAL MANDATORY STYLES -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
		<link href="<?= $this->Url->build('/', true); ?>assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="<?= $this->Url->build('/', true); ?>assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
		<link href="<?= $this->Url->build('/', true); ?>assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="<?= $this->Url->build('/', true); ?>assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css">
		<link href="<?= $this->Url->build('/', true); ?>assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
		<!-- END GLOBAL MANDATORY STYLES -->
		<!-- BEGIN PAGE LEVEL STYLES -->
		<link href="<?= $this->Url->build('/', true); ?>assets/admin/pages/css/error.css" rel="stylesheet" type="text/css"/>
		<!-- END PAGE LEVEL STYLES -->
		<!-- BEGIN THEME STYLES -->
		<link href="<?= $this->Url->build('/', true); ?>assets/global/css/components-md.css" id="style_components" rel="stylesheet" type="text/css"/>
		<link href="<?= $this->Url->build('/', true); ?>assets/global/css/plugins-md.css" rel="stylesheet" type="text/css"/>
		<link href="<?= $this->Url->build('/', true); ?>assets/admin/layout4/css/layout.css" rel="stylesheet" type="text/css"/>
		<link id="style_color" href="<?= $this->Url->build('/', true); ?>assets/admin/layout4/css/themes/light.css" rel="stylesheet" type="text/css"/>
		<link href="<?= $this->Url->build('/', true); ?>assets/admin/layout4/css/custom.css" rel="stylesheet" type="text/css"/>
		<!-- END THEME STYLES -->
		<link rel="shortcut icon" href="favicon.ico"/>
	</head>
	<!-- END HEAD -->
	<!-- BEGIN BODY -->
	<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
	<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
	<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
	<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
	<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
	<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
	<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
	<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
	<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
	<body class="page-md page-404-3">
		<div class="page-inner">
			<img src="<?= $this->Url->build('/', true); ?>assets/admin/pages/media/pages/earth.jpg" class="img-responsive" alt="">
		</div>
		<div class="container error-404">
			<h1>404</h1>
			<h2>Oops! You're lost.</h2>
			<p>
				Actually, the page you are looking for does not exist.
			</p>
			<p>
				<a href="<?= $this->Url->build('/', true); ?>">
					Return home </a>
				<br>
			</p>
		</div>
		<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
		<!-- BEGIN CORE PLUGINS -->
		<!--[if lt IE 9]>
<script src="<?= $this->Url->build('/', true); ?>assets/global/plugins/respond.min.js"></script>
<script src="<?= $this->Url->build('/', true); ?>assets/global/plugins/excanvas.min.js"></script>
<![endif]-->
		<script src="<?= $this->Url->build('/', true); ?>assets/global/plugins/jquery.min.js" type="text/javascript"></script>
		<script src="<?= $this->Url->build('/', true); ?>assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
		<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
		<script src="<?= $this->Url->build('/', true); ?>assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
		<script src="<?= $this->Url->build('/', true); ?>assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="<?= $this->Url->build('/', true); ?>assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
		<script src="<?= $this->Url->build('/', true); ?>assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
		<script src="<?= $this->Url->build('/', true); ?>assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
		<script src="<?= $this->Url->build('/', true); ?>assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
		<script src="<?= $this->Url->build('/', true); ?>assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
		<script src="<?= $this->Url->build('/', true); ?>assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
		<!-- END CORE PLUGINS -->
		<script src="<?= $this->Url->build('/', true); ?>assets/global/scripts/metronic.js" type="text/javascript"></script>
		<script src="<?= $this->Url->build('/', true); ?>assets/admin/layout4/scripts/layout.js" type="text/javascript"></script>
		<script src="<?= $this->Url->build('/', true); ?>assets/admin/layout4/scripts/demo.js" type="text/javascript"></script>
		<script>
			jQuery(document).ready(function() {
				Metronic.init(); // init metronic core components
				Layout.init(); // init current layout
				Demo.init(); // init demo features
			});
		</script>
		<!-- END JAVASCRIPTS -->
	</body>
	<!-- END BODY -->
</html>
